In [50]:
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [51]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [121]:
data = pd.read_csv('us-states.csv')

In [122]:
data.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [124]:
data.shape

(2889, 5)

In [125]:
import datetime

In [126]:
#label encoder for dates
def scrub_date(date1):
    date_parts = date1.split('-')
    f_date = date(int(date_parts[0]), int(date_parts[1]), int(date_parts[2]))
    delta = f_date - date(2020, 1, 21)
    return delta.days

for i in range(len(data['date'])):
    data['date'][i] = scrub_date(data['date'][i])

/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [127]:
#label encoder for state
id = 1
state_dict = {}
for i in range(len(data['state'])):
    state = data['state'][i]
    if state not in state_dict:
        state_dict[state] = id
        id += 1
        data['state'][i] = state_dict[state]
    else:
        data['state'][i] = state_dict[state]

/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [128]:
data = data.drop('fips', axis = 1)

In [129]:
y = data.cases
X = data.drop('cases', axis = 1)

In [130]:
data

     date state  cases  deaths
0       0     1      1       0
1       1     1      1       0
2       2     1      1       0
3       3     2      1       0
4       3     1      1       0
...   ...   ...    ...     ...
2884   93    33  11000     375
2885   93     1  12906     717
2886   93    54    981      31
2887   93     6   5052     257
2888   93    45    332       7

[2889 rows x 4 columns]

In [131]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [132]:
from sklearn.ensemble import RandomForestRegressor

In [144]:
model = RandomForestRegressor(n_estimators = 100, random_state = 1)
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [145]:
preds = model.predict(X_valid)

In [146]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_valid, preds)

In [147]:
mae

554.2934439834025

In [137]:
data.describe()

               cases       deaths
count    2889.000000   2889.00000
mean     4734.918311    190.28972
std     18762.852274    967.45956
min         0.000000      0.00000
25%        19.000000      0.00000
50%       365.000000      6.00000
75%      2331.000000     63.00000
max    263460.000000  15740.00000

In [143]:
def build_tf_model():
    model = keras.Sequential([
        layers.Dense(64, activation = 'relu', input_shape=[len(X_train.keys())]),
        layers.Dense(64, activation = 'relu'),
        layers.Dense(1)
    ])
    
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    
    model.compile(loss = 'mse', optimizer = optimizer, metrics = ['mae', 'mse'])
    
    return model 

tf_model = build_tf_model()

model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 64)                256
_________________________________________________________________
dense_10 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 65
=================================================================
Total params: 4,481
Trainable params: 4,481
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = tf_model.fit(X_train, y_train, epochs = 50, verbose = 1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 2166 samples
Epoch 1/50
2166/2166 [==============================] - 0s 59us/sample - loss: 14740146.9557 - mae: 1196.0052 - mse: 14740144.0000
Epoch 2/50
2166/2166 [==============================] - 0s 80us/sample - loss: 14510348.4534 - mae: 1184.3080 - mse: 14510348.0000
Epoch 3/50
2166/2166 [==============================] - 0s 89us/sample - loss: 14500611.4761 - mae: 1191.3317 - mse: 14500610.0000
Epoch 4/50
2166/2166 [==============================] - 0s 95us/sample - loss: 14691863.8536 - mae: 1190.0900 - mse: 14691864.0000
Epoch 5/50
2166/2166 [==============================] - 0s 87us/sample - loss: 14533267.2627 - mae: 1191.8464 - mse: 14533265.0000
Epoch 6/50
2166/2166 [==============================] - 0s 87us/sample - loss: 14719054.6994 - mae: 1186.8623 - mse: 14719054.0000
Epoch 7/50
2166/2166 [==============================] - 0s 116us/sample - loss: 14318225.3617 - mae: 1177.2548 - mse: 14318226.0000
Epoch 8/50
2166/2166 [==============================] - 0s 95us/sample - loss: 14755992.3860 - mae: 1175.3008 - mse: 14755992.0000
Epoch 9/50
2166/2166 [==============================] - 0s 83us/sample - loss: 14460278.2087 - mae: 1170.5325 - mse: 14460278.0000
Epoch 10/50
2166/2166 [==============================] - 0s 121us/sample - loss: 14589859.9130 - mae: 1169.6198 - mse: 14589861.0000
Epoch 11/50
2166/2166 [==============================] - 0s 116us/sample - loss: 14464111.2415 - mae: 1172.5342 - mse: 14464110.0000
Epoch 12/50
2166/2166 [==============================] - 0s 95us/sample - loss: 13587264.3338 - mae: 1158.2678 - mse: 13587264.0000
Epoch 13/50
 704/2166 [========>.....................] - ETA: 0s - loss: 12142683.6335 - mae: 1215.7177 - mse: 12142684.0000