In [50]:
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [51]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [121]:
data = pd.read_csv('us-states.csv')

In [122]:
data.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [124]:
data.shape

(2889, 5)

In [125]:
import datetime

In [126]:
#label encoder for dates
def scrub_date(date1):
    date_parts = date1.split('-')
    f_date = date(int(date_parts[0]), int(date_parts[1]), int(date_parts[2]))
    delta = f_date - date(2020, 1, 21)
    return delta.days

for i in range(len(data['date'])):
    data['date'][i] = scrub_date(data['date'][i])

/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [127]:
#label encoder for state
id = 1
state_dict = {}
for i in range(len(data['state'])):
    state = data['state'][i]
    if state not in state_dict:
        state_dict[state] = id
        id += 1
        data['state'][i] = state_dict[state]
    else:
        data['state'][i] = state_dict[state]

/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/justin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [128]:
data = data.drop('fips', axis = 1)

In [129]:
y = data.cases
X = data.drop('cases', axis = 1)

In [130]:
data

     date state  cases  deaths
0       0     1      1       0
1       1     1      1       0
2       2     1      1       0
3       3     2      1       0
4       3     1      1       0
...   ...   ...    ...     ...
2884   93    33  11000     375
2885   93     1  12906     717
2886   93    54    981      31
2887   93     6   5052     257
2888   93    45    332       7

[2889 rows x 4 columns]

In [131]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [132]:
from sklearn.ensemble import RandomForestRegressor

In [144]:
model = RandomForestRegressor(n_estimators = 100, random_state = 1)
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [145]:
preds = model.predict(X_valid)

In [146]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_valid, preds)

In [147]:
mae

554.2934439834025

In [137]:
data.describe()

               cases       deaths
count    2889.000000   2889.00000
mean     4734.918311    190.28972
std     18762.852274    967.45956
min         0.000000      0.00000
25%        19.000000      0.00000
50%       365.000000      6.00000
75%      2331.000000     63.00000
max    263460.000000  15740.00000

In [155]:
def build_tf_model():
    model = keras.Sequential([
        layers.Dense(64, activation = 'relu', input_shape=[len(X_train.keys())]),
        layers.Dense(64, activation = 'relu'),
        #layers.Dense(64, activation = 'relu'),
        layers.Dense(1)
    ])
    
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    
    model.compile(loss = 'mse', optimizer = optimizer, metrics = ['mae', 'mse'])
    
    return model 

tf_model = build_tf_model()

model.summary()

AttributeError: 'RandomForestRegressor' object has no attribute 'summary'

In [156]:
history = tf_model.fit(X_train, y_train, epochs = 50, verbose = 1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 2166 samples
Epoch 1/50
2166/2166 [==============================] - 0s 194us/sample - loss: 341254499.9040 - mae: 4580.8555 - mse: 341254528.0000
Epoch 2/50
2166/2166 [==============================] - 0s 100us/sample - loss: 291195391.2830 - mae: 4265.3442 - mse: 291195360.0000
Epoch 3/50
2166/2166 [==============================] - 0s 94us/sample - loss: 230409062.0092 - mae: 3857.5068 - mse: 230409040.0000
Epoch 4/50
2166/2166 [==============================] - 0s 88us/sample - loss: 149631225.5734 - mae: 3318.2678 - mse: 149631248.0000
Epoch 5/50
2166/2166 [==============================] - 0s 111us/sample - loss: 64053908.1348 - mae: 2577.7310 - mse: 64053908.0000
Epoch 6/50
2166/2166 [==============================] - 0s 88us/sample - loss: 20059462.8391 - mae: 1893.5105 - mse: 20059456.0000
Epoch 7/50
2166/2166 [==============================] - 0s 95us/sample - loss: 16836443.9372 - mae: 1565.1006 - mse: 16836446.0000
Epoch 8/50
2166/2166 [==============================] - 0s 167us/sample - loss: 15093976.7643 - mae: 1304.6394 - mse: 15093976.0000
Epoch 9/50
2166/2166 [==============================] - 0s 98us/sample - loss: 16363705.4705 - mae: 1254.3973 - mse: 16363707.0000
Epoch 10/50
2166/2166 [==============================] - 0s 160us/sample - loss: 15607143.1477 - mae: 1221.6420 - mse: 15607144.0000
Epoch 11/50
2166/2166 [==============================] - 0s 141us/sample - loss: 16230465.3568 - mae: 1238.7930 - mse: 16230468.0000
Epoch 12/50
2166/2166 [==============================] - 0s 97us/sample - loss: 15875060.4654 - mae: 1224.7076 - mse: 15875060.0000
Epoch 13/50
2166/2166 [==============================] - 0s 111us/sample - loss: 15778546.8361 - mae: 1227.7816 - mse: 15778544.0000
Epoch 14/50
2166/2166 [==============================] - 0s 114us/sample - loss: 15495550.9047 - mae: 1215.8285 - mse: 15495547.0000
Epoch 15/50
2166/2166 [==============================] - 0s 106us/sample - loss: 15955710.5037 - mae: 1214.9261 - mse: 15955711.0000
Epoch 16/50
2166/2166 [==============================] - 0s 85us/sample - loss: 15312666.3153 - mae: 1208.1709 - mse: 15312668.0000
Epoch 17/50
2166/2166 [==============================] - 0s 111us/sample - loss: 15226406.1367 - mae: 1200.0070 - mse: 15226405.0000
Epoch 18/50
2166/2166 [==============================] - 0s 87us/sample - loss: 15280090.2044 - mae: 1205.8794 - mse: 15280091.0000
Epoch 19/50
2166/2166 [==============================] - 0s 102us/sample - loss: 14967404.6512 - mae: 1199.8093 - mse: 14967403.0000
Epoch 20/50
2166/2166 [==============================] - 0s 188us/sample - loss: 15272822.3119 - mae: 1206.5730 - mse: 15272819.0000
Epoch 21/50
2166/2166 [==============================] - 0s 121us/sample - loss: 15621542.5025 - mae: 1222.8812 - mse: 15621541.0000
Epoch 22/50
2166/2166 [==============================] - 0s 137us/sample - loss: 14657622.3319 - mae: 1186.4357 - mse: 14657622.0000
Epoch 23/50
2166/2166 [==============================] - 0s 131us/sample - loss: 15084972.4067 - mae: 1198.7803 - mse: 15084970.0000
Epoch 24/50
2166/2166 [==============================] - 0s 126us/sample - loss: 14772160.6434 - mae: 1190.0947 - mse: 14772161.0000
Epoch 25/50
2166/2166 [==============================] - 0s 132us/sample - loss: 16061914.8229 - mae: 1222.1819 - mse: 16061912.0000
Epoch 26/50
2166/2166 [==============================] - 0s 111us/sample - loss: 14740151.7862 - mae: 1185.5602 - mse: 14740153.0000
Epoch 27/50
2166/2166 [==============================] - 0s 105us/sample - loss: 14662772.9543 - mae: 1177.6763 - mse: 14662771.0000
Epoch 28/50
2166/2166 [==============================] - 0s 99us/sample - loss: 15105823.5048 - mae: 1197.8561 - mse: 15105825.0000
Epoch 29/50
2166/2166 [==============================] - 0s 114us/sample - loss: 14734638.1318 - mae: 1186.7001 - mse: 14734640.0000
Epoch 30/50
2166/2166 [==============================] - 0s 126us/sample - loss: 14988137.9577 - mae: 1198.3326 - mse: 14988139.0000
Epoch 31/50
2166/2166 [==============================] - 0s 174us/sample - loss: 14263927.2271 - mae: 1177.1165 - mse: 14263929.0000
Epoch 32/50
2166/2166 [==============================] - 0s 171us/sample - loss: 14442156.6078 - mae: 1188.0773 - mse: 14442156.0000
Epoch 33/50
2166/2166 [==============================] - 0s 74us/sample - loss: 14625985.6818 - mae: 1191.4232 - mse: 14625985.0000
Epoch 34/50
2166/2166 [==============================] - 0s 107us/sample - loss: 14558865.6187 - mae: 1176.2994 - mse: 14558865.0000
Epoch 35/50
2166/2166 [==============================] - 0s 95us/sample - loss: 14725361.0674 - mae: 1182.4447 - mse: 14725361.0000
Epoch 36/50
2166/2166 [==============================] - 0s 115us/sample - loss: 14645086.0641 - mae: 1181.5107 - mse: 14645085.0000
Epoch 37/50
2166/2166 [==============================] - 0s 145us/sample - loss: 14636640.7149 - mae: 1178.9048 - mse: 14636640.0000
Epoch 38/50
2166/2166 [==============================] - 0s 108us/sample - loss: 14570995.7622 - mae: 1181.4326 - mse: 14570998.0000
Epoch 39/50
2166/2166 [==============================] - 0s 211us/sample - loss: 14727280.7740 - mae: 1178.9318 - mse: 14727280.0000
Epoch 40/50
2166/2166 [==============================] - 0s 178us/sample - loss: 14522021.9081 - mae: 1166.6007 - mse: 14522022.0000
Epoch 41/50
2166/2166 [==============================] - 0s 185us/sample - loss: 14421269.6316 - mae: 1195.6595 - mse: 14421272.0000
Epoch 42/50
2166/2166 [==============================] - 0s 174us/sample - loss: 14225922.0803 - mae: 1158.6638 - mse: 14225921.0000
Epoch 43/50
2166/2166 [==============================] - 1s 235us/sample - loss: 14395400.4419 - mae: 1171.1100 - mse: 14395402.0000
Epoch 44/50
2166/2166 [==============================] - 0s 142us/sample - loss: 14383792.9239 - mae: 1167.8262 - mse: 14383794.0000
Epoch 45/50
2166/2166 [==============================] - 0s 123us/sample - loss: 14505855.3513 - mae: 1170.3794 - mse: 14505854.0000
Epoch 46/50
2166/2166 [==============================] - 0s 134us/sample - loss: 14433573.1232 - mae: 1152.9119 - mse: 14433573.0000
Epoch 47/50
2166/2166 [==============================] - 0s 119us/sample - loss: 14406951.9638 - mae: 1151.9191 - mse: 14406952.0000
Epoch 48/50
2166/2166 [==============================] - 0s 157us/sample - loss: 14005574.5032 - mae: 1167.2743 - mse: 14005576.0000
Epoch 49/50
2166/2166 [==============================] - 0s 166us/sample - loss: 14240574.6304 - mae: 1148.8147 - mse: 14240574.0000
Epoch 50/50
2166/2166 [==============================] - 0s 141us/sample - loss: 14551471.9100 - mae: 1174.4269 - mse: 14551472.0000

In [157]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

            loss          mae         mse  epoch
45  1.443357e+07  1152.911865  14433573.0     45
46  1.440695e+07  1151.919067  14406952.0     46
47  1.400557e+07  1167.274292  14005576.0     47
48  1.424057e+07  1148.814697  14240574.0     48
49  1.455147e+07  1174.426880  14551472.0     49

In [160]:
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [161]:
plotter = tfdocs.plots.HistoryPlotter(smoothing_std = 2)

In [164]:
plotter.plot({'Basic': history}, metric = 'mae')
plt.ylim([0,100])
plt.ylabel('MAE [Confirmed Cases]')

KeyError: 'val_mae'